<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/404.css">
</head>
<%- include('../includes/navigation.ejs') %> 
<body>
    <div class="content-box">
        <div class="not-found-box">
            <h1></i> Some thing went wrong</h1>
            <img src="/images/500.svg" alt="something went wrong">
            <p>We're working on fixing this, sorry for the inconvenience.</p>
        </div>
    </div>
<%- include('../includes/tail.ejs') %>